body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Schwarzer Hintergrund */
    color: #33FF33; /* Neon-Grüner Text */
}


h2 {
    color: #FF00FF; /* Neon-Pinker Text */
    font-size: 1.5em; /* Font-Größe für bessere Sichtbarkeit angepasst */
}

header {
    background-color: #111111; /* Dunkler Header */
    color: #33FF33; /* Neon-Grüner Text */
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 2px solid #33FF33;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #111111; /* Dunkles Menü */
    border-bottom: 2px solid #33FF33;
}

nav a {
    color: #33FF33; /* Neon-Grüner Text */
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid #33FF33;
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    background-color: #222222; /* Helleres Schwarz beim Hover */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #111111; /* Dunkler Footer */
    color: #33FF33; /* Neon-Grüner Text */
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #33FF33;
    position: fixed;
    width: 100%;
    bottom: 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: 1px solid #33FF33;
    background-color: #000000;
    color: #33FF33;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #33FF33; /* Neon-Grüner Text */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
